rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /sales/{document=**} {
      allow read, write: if isAuthenticated();
    }
    match /stock/{document=**} {
      allow read, write: if isAuthenticated();
    }
    match /users/{userId} {
      allow read, write: if isAuthenticated() && (request.auth.uid == userId);
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
